*[searchLine='true']{
    border: 1px solid gray;
    border-radius: 10px;
    padding-left: 5px;
    background: qlineargradient(x1:0, y1:0, x2:0, y2:1, stop:0 rgb(255, 255, 255), stop:1 rgb(179, 179, 179));
    selection-background-color: darkgray;
    width: 260px;
    color: #333333;
}

*[searchLine='true']:hover{
    background: qlineargradient(x1:0, y1:0, x2:0, y2:1, stop:0 rgb(230, 230, 230), stop:1 rgb(153, 153, 153));
}

*[nouvelleListe_nutshsearchlineinterface='true']{
    border: none;
    background-image: url(":/img/images/searchbutton.png");
    background-position: top left;
    background-repeat: no-repeat;
    height: 22px;
    width: 38px;
}

*[nouvelleListe_nutshsearchlineinterface='true']:hover{
    background-position: bottom left;
}

*[nouvelleListe_nutshsearchlineinterface='true']:pressed{
    background-position: bottom right;
}

QMainWindow{
    background-image: url(":/img/images/fond.png");
}

QListWidget{
    max-width: 160px;
    max-height: 190px;
    background-color: transparent;
    border: none;
}

QListWidget::item{
    max-width: 160px;
    min-height: 16px;
    padding-left: 20px;
    padding-top: 1px;
    background-image: url(":/img/images/playlist-item.png");
    background-repeat: no-repeat;
    border: none;
    color: rgb(247, 148, 30);
}

QListWidget::item:focus{
    background-image: url(":/img/images/playlist-item-over.png") no-repeat;
    background-repeat: no-repeat;
    color: rgb(77, 77, 79);
}

QListWidget::item::selected {
    background-image: url(":/img/images/playlist-item-over.png") no-repeat;
    background-repeat: no-repeat;
    color: rgb(77, 77, 79);
}

QMenu{
    background: qlineargradient(x1:0, y1:0, x2:0, y2:1, stop:0 rgb(249, 157, 28), stop:1 rgb(243, 112, 33));
}

QMenu::item{
    background-color: transparent;
    color: #333333;
}

QMenu::item:selected{
    background: qlineargradient(x1:0, y1:0, x2:0, y2:1, stop:0 #404040, stop:1 #1A1A1A);
    color: #F7941E;
}

QMenu::item:pressed{
    background: qlineargradient(x1:0, y1:1, x2:0, y2:0, stop:0 #404040, stop:1 #1A1A1A);
    color: #F7941E;
}

*[boutonPlay='true']{
    background-image: url(":/img/images/play.png");
    background-repeat: no-repeat;
    width: 44px;
    height: 50px;
    border: none;
}

*[boutonSuivant='true']{
    background-image: url(":/img/images/next.png");
    background-repeat: no-repeat;
    width: 32px;
    height: 19px;
    border: none;
}

*[boutonPrecedent='true']{
    background-image: url(":/img/images/previous.png");
    background-repeat: no-repeat;
    width: 33px;
    height: 19px;
    border: none;
}

*[boutonStop='true']{
    background-image: url(":/img/images/stop.png");
    background-repeat: no-repeat;
    width: 18px;
    height: 18px;
    border: none;
}

*[boutonRevenir='true']{
    background-image: url(":/img/images/precedant.png");
    background-repeat: no-repeat;
    background-position: top left;
    width: 35px;
    height: 35px;
    border: none;
}

*[boutonRevenir='true']:hover{
    background-position: bottom left;
}

*[boutonRevenir='true']:pressed{
    background-position: bottom right;
}

*[boutonRepeat='true']{
    background-image: url(":/img/images/repeat.png");
    background-repeat: no-repeat;
    background-position: top left;
    width: 27px;
    height: 21px;
    border: none;
}

*[boutonRepeat='true']:checked{
    background-position: bottom left;
}

*[boutonRandom='true']{
    background-image: url(":/img/images/random.png");
    background-repeat: no-repeat;
    background-position: top left;
    width: 27px;
    height: 21px;
    border: none;
}

*[boutonRandom='true']:checked{
    background-position: bottom left;
}

*[newPlaylistButton='true']{
    background-image: url(":/img/images/nouvelle.png");
    background-repeat: no-repeat;
    background-position: top left;
    width: 36px;
    height: 27px;
    border: none;
}

*[newPlaylistButton='true']:hover{
    background-position: bottom left;
}

*[newPlaylistButton='true']:pressed{
    background-position: bottom right;
}

*[importButton='true']{
    background-image: url(":/img/images/importer.png");
    background-repeat: no-repeat;
    background-position: top left;
    width: 35px;
    height: 27px;
    border: none;
}

*[importButton='true']:hover{
    background-position: bottom left;
}

*[importButton='true']:pressed{
    background-position: bottom right;
}

QProgressBar{
    border: 1px solid grey;
    border-radius: 5px;
    background: qlineargradient(x1:0, y1:0, x2:0, y2:1, stop:0 rgb(255, 255, 255), stop:1 rgb(179, 179, 179));
    width: 350px;
    height: 14px;
    text-align: center;
}

QProgressBar::chunk{
    background-image: url(":/img/images/progressbar.png");
    width: 1px;
}

*[cancelButton='true']{
    background-image: url(":/img/images/arreter.png");
    background-position: top left;
    background-repeat: no-repeat;
    border: none;
    width: 11px;
    height: 11px;
}

*[cancelButton='true']:hover{
    background-position: bottom left;
}

*[cancelButton='true']:pressed{
    background-position: bottom right;
}

QTreeView {
}

QTreeView{
    show-decoration-selected: 1;
    background-color: transparent;
}

QTreeView::item:hover {
    background: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1, stop : 0 rgb(251, 177, 89, 15%), stop: 0.5714 rgb(245, 137, 46, 15%), stop: 0.6428 rgb(245, 126, 32, 15%), stop: 1 rgb(242, 105, 33, 15%));
}

QTreeView::item:hover{
    background: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1, stop : 0 rgb(251, 177, 89, 15%), stop: 1 rgb(242, 105, 33, 15%));
}

QTreeView::item:selected:active{
    background: qlineargradient(x1:0, y1:0, x2:0, y2:1, stop:0 rgb(249, 157, 28), stop:1 rgb(243, 112, 33));
}

QTreeView::item:selected:!active{
    background: qlineargradient(x1:0, y1:0, x2:0, y2:1, stop:0 rgb(249, 157, 28), stop:1 rgb(243, 112, 33));
}


QTreeView::scroller{
    background-color: red;
}

QTreeView::branch{
    background-color: transparent;
}

QTreeView::branch{
    background-color: transparent;
}

QTreeView::branch:hover{
    background: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1, stop : 0 rgb(251, 177, 89, 15%), stop: 1 rgb(242, 105, 33, 15%));
}

QTreeView::branch:hover{
    background: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1, stop : 0 rgb(251, 177, 89, 15%), stop: 0.5714 rgb(245, 137, 46, 15%), stop: 0.6428 rgb(245, 126, 32, 15%), stop: 1 rgb(242, 105, 33, 15%));
}

QTreeView::branch:selected{
    background: qlineargradient(x1:0, y1:0, x2:0, y2:1, stop:0 rgb(249, 157, 28), stop:1 rgb(243, 112, 33));
}

QTreeView::branch:selected{
    background: qlineargradient(x1:0, y1:0, x2:0, y2:1, stop:0 rgb(249, 157, 28), stop:1 rgb(243, 112, 33));
}
